<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <!-- include navbar -->

    <%- include('./partials/nav.ejs') %>

    

    <main id="main">
        <div class="user-fav-container">

            <div class="welcome-container">
                <h1>Your favorite movies</h1>
            </div>
            
            <div class="movies">
                <% for (let i=0; i < favMovies.length; i++) { %>
            
                    <form action="/delFav" method="post">
                        <div class="movie">

                            <img src="https://image.tmdb.org/t/p/w500/<%=poster[i]%>" alt="Image">
            
                            <div class="movie-info">
                                <h3><%= movieTitle[i] %></h3>
                                <span class="<%=color(vote[i])%>"><%= vote[i] %></span>
                            </div>
            
                            <div class="overview-container">
                                                
                                <div class="info-button">

                                    <div class="overview">
                                        <p><%=overview[i] %></p>
                                    </div>
                                    
                                    <div class="fav-button">
                                        <input type="hidden" name="movieTitle" value="<%= movieTitle[i] %>">
                                        <button class="fav-btn" type="submit" name="movie">Delete</button>
                                    </div>

                                </div>

                            </div>

                        </div>
                    
                    </form>

                    <% } %>
            </div>
        </div>
    
    
    </main>
    
</body>
</html>