<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head.ejs') %>

<body>

    <!-- include navbar -->
    <%- include('./partials/nav.ejs') %>

    <div class="welcome-container">
        <h1><%= message %></h1>

        <div class="search-form">
        <form id="form" action="/home" method="POST">
            <input type="text" placeholder="Search movie" id="search" class="search" name="search">
            <button type="submit">Search</button>
        </form>
        </div>
        
    </div>

    <main id="main">

        <% for (let i = 0; i < movieTitle.length; i++) { %>

            <form action="/fav" method="post">

                <div class="movie">
                      
                    <img src="https://image.tmdb.org/t/p/w500/<%=poster[i]%>" alt="Image" > 
                    
                    <div class="movie-info">
                        <h3><%= movieTitle[i] %></h3>
                        <span class="<%=color(vote[i])%>"><%= vote[i] %></span>
                    </div>
                    
                    <div class="overview-container">

                        <div class="info-button">

                            <div class="overview">
                                <p><%=overview[i] %></p>
                            </div>
                            
                            <div class="fav-button">
                                <input type="hidden" name="movieTitle" value="<%= movieTitle[i] %>">
                                <input type="hidden" name="moviePoster" value="<%= poster[i] %>">
                                <input type="hidden" name="movieVote" value="<%= vote[i] %>">
                                <input type="hidden" name="movieOverview" value="<%= overview[i] %>">
                                <button class="fav-btn" type="submit" name="movie">lisää suosikkeihin</button>
                            </div>

                        </div>

                    </div>

                </div>

            </form>
            
        <% } %>


    </main>
    

    <script>
        
    </script>
</body>
</html>