<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>



    <!--  inlude navbar -->
    <%- include('./partials/nav.ejs') %>


    

        <div class="user-info-container">

            <div class="info-container">
                <h1>User information </h1>

                <div class="user-infos">
                    <h2>Username: <%= userName %></h2>
                    <h2>Email : <%= userEmail %></h2>
                    <h2>Registered: <%= userRegisterDate %></h2>
                </div>

                <div class="change-password">
                    <button><a href="/changepassword">Change password</a></button>
                </div>

                <div class="delete-account">
                    <button><a href="/deleteAccount">Delete account</a></button>
                </div>
            </div>

        </div>

    
    
</body>
</html>